.App {
  text-align: center;
  
}

.container{
  /* background-color: #743340; */
  color: #ffffff;
  /* opacity: 0.6; */
  padding: 10px;
  font-family: 'Special Elite', cursive;
  font-size: 1.1em;
}


body {
  background-image: url("./images/grey_wash_wall.png");
  background-color: #666666;
  /* background-color: #98878F; */
  display: flex;
  color: #33691e;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.error {
  border: 2px solid red;
}

.iFrame {
  border: none;
  width:60%;
  height:1200px;
  margin:0 auto;
}

iframe {
  width:100%;
  height:1200px;
  border:none;
}

.cards {
  padding: 10px;
}

.btn-large {
  margin-right: 10px;
  margin-left: 10px;
  color: black;
}

.line-separator {
  border-bottom: 1px solid #000000;
}

button{
  border: 0px
}

/* li {
  font-size: 18px;
} */

/* label color */
.input-field label {
  color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

h1 {
  font-size: 3em;
  color: #192231;
  font-family: 'Merriweather', serif;
}

h3 {
  color: #192231;
  font-family: 'Merriweather', serif;
}

h4 {
  color: #33691e;
  font-family: 'Merriweather', serif;
}

h5 {
  color: #33691e;
}

.tabs .tab a{
  color:#33691e;
  background-color: #cccccc
}
.tabs .tab a:hover,.tabs .tab a.active {
  background-color:#cccccc;
  color: #192231;
}

.tabs .indicator {
  background-color: #192231;
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
  color:rgba(102,147,153,0.7);	
}

.price {
  color: #565656;
  font-size: 1.2em;
}

@media only screen and (min-width: 993px){
  .tab {
      display: block;
  }
  }