.App {
  text-align: center;
}

.container{
  /* background-color: #743340; */
  color: #ffffff;
  opacity: 0.6;
  padding: 10px;
}

body {
  background-image: url("./images/grey_wash_wall.png");
  /* background-color: #98878F; */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.error {
  border: 2px solid red;
}

.iFrame {
  border: none;
  width:60%;
  height:1200px;
  margin:0 auto;
}

iframe {
  width:100%;
  height:1200px;
  border:none;
}

.cards {
  padding: 10px;
}

.btn-large {
  margin-right: 10px;
  margin-left: 10px;
  color: black;
}

.tabs { 
  color: black;
}

.line-separator {
  border-bottom: 1px solid #000000;
}