nav {
    font-size: 20px;
    background-color: #192231;
}

nav ul li:hover {
    background-color: #606163;
}

nav ul li.active {
background-color: #54637c;
}


.logoName {
    font-size: 30px;
    padding-left: 20px
}


@media screen and (max-width: 600px) {
    .logoName {
        display: none;
    }
}
