nav {
    font-size: 20px;
    background-color: #192231;
}


.logoName {
    font-size: 30px;
    padding-left: 20px
}


@media screen and (max-width: 600px) {
    .logoName {
        display: none;
    }
}
